<div>

  @if (songState && songState.downloadState == DownloadState.Waiting) {
    <mat-icon>pending</mat-icon>
  } @else if (songState && songState.downloadState == DownloadState.InProgress) {
    {{ songState.downloadProgress | percent }}
  } @else if (songState && songState.downloadState == DownloadState.Failed) {
    <mat-icon>error</mat-icon>
  } @else if (songState && songState.downloadState == DownloadState.Complete) {
    <mat-icon>check_circle</mat-icon>
  } @else {
    <mat-icon>question</mat-icon>
  }
</div>
