<div class="list-heading">
  <div class="requestLineDragHeading"></div>
  <div class="songDetailsHeading">Song</div>
  <div class="songLengthHeading">Length</div>
  <div class="requesterHeading">Requester</div>
  <div class="localStateHeading">Local</div>
  <div class="controlsHeading"></div>
</div>

<div cdkDropList (cdkDropListDropped)="drop($event)" class="requestList">
  <div cdkDrag class="requestLine" *ngFor="let queueItem of songRequests; index as i"
       [ngClass]="{ activeRequest: queueItem.isActive }">
    <div class="requestLineDrag">_ _ _</div>
    <div class="songDetails">
      <div class="songTitle">{{ queueItem.song.title }}</div>
      <div class="songArtist">{{ queueItem.song.artist }}</div>
      <div class="songMapper">({{ queueItem.song.mapper }})</div>
    </div>
    <div class="songLength">{{ queueItem.song.duration }}</div>
    <div class="requester">{{ queueItem.requesterName }}</div>
    <div class="localState"> --</div>
    <div class="controls">
      <div class="markPlayed">
        <button>
          <mat-icon>done</mat-icon>
        </button>
      </div>
      <div class="deleteRequest">
        <button (click)="deleteSongRequest(queueItem.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

