.list-heading {
  display: flex;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;

  .requestLineDragHeading {
    width: 50px;
  }
  .songDetailsHeading {
    width: 40%;
    padding-left: 10px;
    min-width: 350px;
  }
  .songLengthHeading {
    min-width: 70px;
  }

  .requesterHeading {
    min-width: 150px;
  }
  .localStateHeading {
    min-width: 50px;
  }

}

.requestLine {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;

  .requestLineDrag {
    width: 50px;
    min-width: 50px;
    border-right: 1px solid black;
    text-align: center;
    vertical-align: center;
  }

  .songDetails {
    padding-left: 10px;
    width: 40%;
    min-width: 350px;

    .songTitle {
      font-size: 20px;
    }
  }
  .songLength {
    min-width: 70px;
  }

  .requester {
    min-width: 150px;
  }

  .localState {
    min-width: 50px;
  }

  .controls {
    flex-grow: 1;
    display: flex;
    justify-content: right;
  }
}

.requestLine.activeRequest {
  background-color: green;
}
