<!--<mat-table [dataSource]="songRequests">-->
<!--  <ng-container matColumnDef="song">-->
<!--    <mat-header-cell *matHeaderCellDef>Song</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let songRequest">-->
<!--      <div class="flex flex-col">-->
<!--        <div class="text-xl">{{ songRequest.song.title }}</div>-->
<!--        <div class="text-md">{{ songRequest.song.artist }} ({{ songRequest.song.mapper }})</div>-->
<!--      </div>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="songLength">-->
<!--    <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let songRequest">-->
<!--      {{ songRequest.song.length }}-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="requester">-->
<!--    <mat-header-cell *matHeaderCellDef>Requested By</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let songRequest">-->
<!--      {{ songRequest.requesterName }}-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="ops">-->
<!--    <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--    <mat-cell *matCellDef="let songRequest">-->
<!--      <div class="markPlayed">-->
<!--        <button>-->
<!--          <mat-icon>done</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="deleteRequest">-->
<!--        <button (click)="deleteSongRequest(songRequest.id)">-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--      </div>-->

<!--    </mat-cell>-->

<!--  </ng-container>-->

<!--  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>-->
<!--  <mat-row *matRowDef="let songRequest; columns: columnsToDisplay" [ngClass]="{ 'bg-green': songRequest.isActive }"></mat-row>-->

<!--</mat-table>-->


<div class="flex border-b-2 border-black text-xl font-bold">
  <div class="w-10"></div>
  <div class="w-2/5">Song</div>
  <div class="">Length</div>
  <div class="requesterHeading">Requester</div>
  <div class="localStateHeading">Local</div>
  <div class="controlsHeading"></div>
</div>

<div cdkDropList (cdkDropListDropped)="drop($event)" class="requestList">
  <div cdkDrag class="requestLine" *ngFor="let queueItem of songRequests; index as i"
       [ngClass]="{ activeRequest: queueItem.isActive }">
    <div class="text-4xl w-10 text-center justify-center">{{ queueItem.requestOrder }}</div>
    <div class="w-2/5">
      <div class="songTitle">{{ queueItem.song.title }}</div>
      <div class="songArtist">{{ queueItem.song.artist }}</div>
      <div class="songMapper">({{ queueItem.song.mapper }})</div>
    </div>
    <div class="songLength">{{ queueItem.song.duration }}</div>
    <div class="requester">{{ queueItem.requesterName }}</div>
    <div class="localState"> --</div>
    <div class="controls">
      <div class="markPlayed">
        <button>
          <mat-icon>done</mat-icon>
        </button>
      </div>
      <div class="deleteRequest">
        <button (click)="deleteSongRequest(queueItem.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

